html {
  background: linear-gradient(
    to bottom,
    #074d6f,
    #546e8c,
    #8892a8,
    #b8b9c5,
    #e3e3e3
  );
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-size: cover; /* Ensures the gradient covers the entire page */
}
body {
  margin: 0px;
  font-family: "Work Sans";
}
