.container {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #074d6f,
    #546e8c,
    #8892a8,
    #b8b9c5,
    #e3e3e3
  );
}
.content {
  flex-grow: 1; /* Allow content area to grow */
  padding: 20px; /* Add some padding */
  margin-left: 0px; /* Adjust based on the width of .verticalNav */
  position: relative; /* Relative positioning for safe absolute child positioning */
  height: 90vh;
  font-weight: 400;
}
