.table {
  width: 100%;
  border-collapse: collapse;
}
.tableHeadRow {
  background-color: #f2f2f2;
}
.table th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.container {
  margin-top: 20px;
}
