.verticalNav {
  width: 170px;
  padding-top: 20px;
  background-color: #074d6f;
  color: #c3ecff;
  min-height: 93vh; /* Use full height */
  max-height: 100vh;
  margin: 20px 0px 20px 0px;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.27); /* Soft shadow */
  font-weight: 700;
}

.company {
  display: flex;
  gap: 10px;
  margin: auto;
  align-items: center; /* Align items vertically to the center */
  padding: 10px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
}

.logo {
  width: 35px;
  height: 35px;
}

.rounded {
  border-top: 1px solid #c3ecff;
  border-radius: 5px;
  margin: 10px 5px 0 5px;
}

.verticalNav h3 {
  margin: 0; /* Remove margin to align perfectly with the image */
  display: flex;
  align-items: center; /* Ensure the text aligns with the logo */
}

.verticalNav ul {
  padding: 0;
  margin-top: 30px;
  padding: 5px;
}

.verticalNav li {
  list-style: none;
  margin-top: 5px;
  text-align: left;
}

.list img {
  height: 30px;
  width: 30px;
  margin-right: 7px;
  filter: invert(88%) sepia(77%) saturate(1059%) hue-rotate(173deg)
    brightness(102%) contrast(101%);
}

.verticalNav a {
  display: flex;
  padding: 10px;
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits color from parent (li) or specified color */
  transition: background-color 0.3s ease;
  border-radius: 3px;
  align-items: center;
}

.verticalNav a:hover {
  background-color: #c3ecff;
  color: #222222;
}

.verticalNav a:hover img {
  filter: invert(5%) sepia(14%) saturate(15%) hue-rotate(319deg)
    brightness(104%) contrast(82%);
}
