.container {
  text-align: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #edededf0;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.formGroup label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}
.formGroup input {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b4b4b4;
  font-size: 16px;
  box-sizing: border-box;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  appearance: none;
  background-color: #074d6f;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.suggestionsList {
  position: relative;
  top: 0%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestionItem:hover,
.suggestionItem.active {
  background-color: #f0f0f0;
}

.suggestionItem span.match {
  font-weight: bold;
}
